USE [IGATE_THUC_TAP]
GO
/****** Object:  Table [dbo].[tbBUOC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBUOC](
	[ID_BUOC] [int] NOT NULL,
	[ID_QTTT] [int] NULL,
	[TRANG_THAI] [int] NULL,
	[SO_NGAY_THUC_HIEN] [int] NULL,
	[ID_DON_VI] [int] NULL,
	[ID_CONG_VIC] [int] NULL,
 CONSTRAINT [PK_tbBUOC] PRIMARY KEY CLUSTERED 
(
	[ID_BUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCONGCHUC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCONGCHUC](
	[MA_CONG_CHUC] [int] NOT NULL,
	[TEN_DANG_NHAP] [nvarchar](50) NULL,
	[MAT_KHAU] [nvarchar](200) NULL,
	[TEN_CONG_CHUC] [nvarchar](100) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_tbCONGCHUC] PRIMARY KEY CLUSTERED 
(
	[MA_CONG_CHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCONGDAN]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCONGDAN](
	[ID_CONG_DAN] [int] NOT NULL,
	[TEN_CONG_DAN] [nvarchar](50) NULL,
	[CMND] [nvarchar](20) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_tbCONGDAN] PRIMARY KEY CLUSTERED 
(
	[ID_CONG_DAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCONGTAC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCONGTAC](
	[ID] [int] NOT NULL,
	[MA_DON_VI] [int] NULL,
	[MA_CONG_CHUC] [int] NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[NGAY_KET_THUC] [date] NULL,
 CONSTRAINT [PK_tbCONGTAC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbDMCONGVIEC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDMCONGVIEC](
	[ID_CONG_VIEC] [int] NOT NULL,
	[TEN_CONG_VIEC] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbDMCONGVIEC] PRIMARY KEY CLUSTERED 
(
	[ID_CONG_VIEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbDONVI]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDONVI](
	[MA_DON_VI] [int] NOT NULL,
	[TEN_DON_VI] [nvarchar](100) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_tbDONVI] PRIMARY KEY CLUSTERED 
(
	[MA_DON_VI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbHOSO]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHOSO](
	[ID_HO_SO] [int] NOT NULL,
	[SO_HO_SO] [nvarchar](50) NULL,
	[ID_CONG_DAN] [int] NULL,
	[NGAY_NOP] [date] NULL,
	[NGAY_HEN_TRA] [date] NULL,
	[NGAY_TRA_TT] [date] NULL,
	[ID_QTTTT] [int] NULL,
 CONSTRAINT [PK_tbHOSO] PRIMARY KEY CLUSTERED 
(
	[ID_HO_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbHSBUOC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHSBUOC](
	[ID_HSBUOC] [int] NOT NULL,
	[ID_HO_SO] [int] NULL,
	[ID_BUOC] [int] NULL,
	[NGAY_BAT_DAU] [date] NULL,
	[NGAY_KET_THUC_DH] [date] NULL,
	[NGAT_KET_THUC_TT] [date] NULL,
	[ID_DON_VI_TH] [int] NULL,
	[ID_CONG_CHUC_TH] [int] NULL,
	[ID_CONG_VIEC] [int] NULL,
 CONSTRAINT [PK_tbHSBUOC] PRIMARY KEY CLUSTERED 
(
	[ID_HSBUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbLINHVUC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLINHVUC](
	[ID_LINH_VUC] [int] NOT NULL,
	[TEN_LINH_VUC] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbLINHVUC] PRIMARY KEY CLUSTERED 
(
	[ID_LINH_VUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbQUYTRINHTHUTUC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQUYTRINHTHUTUC](
	[ID_QTTTT] [int] NOT NULL,
	[ID_THU_TUC] [int] NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_tbQUYTRINHTHUTUC] PRIMARY KEY CLUSTERED 
(
	[ID_QTTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbTHUTUC]    Script Date: 3/9/2021 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTHUTUC](
	[MA_THU_TUC] [int] NOT NULL,
	[TEN_THU_TUC] [nvarchar](500) NULL,
	[MUC_DO] [nvarchar](50) NULL,
	[MA_LINH_VUC] [int] NULL,
	[NGAY_THUC_HIEN] [int] NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_tbTHUTUC] PRIMARY KEY CLUSTERED 
(
	[MA_THU_TUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbBUOC_tbDMCONGVIEC] FOREIGN KEY([ID_CONG_VIC])
REFERENCES [dbo].[tbDMCONGVIEC] ([ID_CONG_VIEC])
GO
ALTER TABLE [dbo].[tbBUOC] CHECK CONSTRAINT [FK_tbBUOC_tbDMCONGVIEC]
GO
ALTER TABLE [dbo].[tbBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbBUOC_tbDONVI] FOREIGN KEY([ID_DON_VI])
REFERENCES [dbo].[tbDONVI] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[tbBUOC] CHECK CONSTRAINT [FK_tbBUOC_tbDONVI]
GO
ALTER TABLE [dbo].[tbBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbBUOC_tbQUYTRINHTHUTUC] FOREIGN KEY([ID_QTTT])
REFERENCES [dbo].[tbQUYTRINHTHUTUC] ([ID_QTTTT])
GO
ALTER TABLE [dbo].[tbBUOC] CHECK CONSTRAINT [FK_tbBUOC_tbQUYTRINHTHUTUC]
GO
ALTER TABLE [dbo].[tbCONGTAC]  WITH CHECK ADD  CONSTRAINT [FK_tbCONGTAC_tbCONGCHUC] FOREIGN KEY([MA_CONG_CHUC])
REFERENCES [dbo].[tbCONGCHUC] ([MA_CONG_CHUC])
GO
ALTER TABLE [dbo].[tbCONGTAC] CHECK CONSTRAINT [FK_tbCONGTAC_tbCONGCHUC]
GO
ALTER TABLE [dbo].[tbCONGTAC]  WITH CHECK ADD  CONSTRAINT [FK_tbCONGTAC_tbDONVI] FOREIGN KEY([MA_DON_VI])
REFERENCES [dbo].[tbDONVI] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[tbCONGTAC] CHECK CONSTRAINT [FK_tbCONGTAC_tbDONVI]
GO
ALTER TABLE [dbo].[tbHOSO]  WITH CHECK ADD  CONSTRAINT [FK_tbHOSO_tbCONGDAN] FOREIGN KEY([ID_CONG_DAN])
REFERENCES [dbo].[tbCONGDAN] ([ID_CONG_DAN])
GO
ALTER TABLE [dbo].[tbHOSO] CHECK CONSTRAINT [FK_tbHOSO_tbCONGDAN]
GO
ALTER TABLE [dbo].[tbHOSO]  WITH CHECK ADD  CONSTRAINT [FK_tbHOSO_tbQUYTRINHTHUTUC] FOREIGN KEY([ID_QTTTT])
REFERENCES [dbo].[tbQUYTRINHTHUTUC] ([ID_QTTTT])
GO
ALTER TABLE [dbo].[tbHOSO] CHECK CONSTRAINT [FK_tbHOSO_tbQUYTRINHTHUTUC]
GO
ALTER TABLE [dbo].[tbHSBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbHSBUOC_tbBUOC] FOREIGN KEY([ID_BUOC])
REFERENCES [dbo].[tbBUOC] ([ID_BUOC])
GO
ALTER TABLE [dbo].[tbHSBUOC] CHECK CONSTRAINT [FK_tbHSBUOC_tbBUOC]
GO
ALTER TABLE [dbo].[tbHSBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbHSBUOC_tbCONGCHUC] FOREIGN KEY([ID_CONG_CHUC_TH])
REFERENCES [dbo].[tbCONGCHUC] ([MA_CONG_CHUC])
GO
ALTER TABLE [dbo].[tbHSBUOC] CHECK CONSTRAINT [FK_tbHSBUOC_tbCONGCHUC]
GO
ALTER TABLE [dbo].[tbHSBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbHSBUOC_tbDMCONGVIEC] FOREIGN KEY([ID_CONG_VIEC])
REFERENCES [dbo].[tbDMCONGVIEC] ([ID_CONG_VIEC])
GO
ALTER TABLE [dbo].[tbHSBUOC] CHECK CONSTRAINT [FK_tbHSBUOC_tbDMCONGVIEC]
GO
ALTER TABLE [dbo].[tbHSBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbHSBUOC_tbDONVI] FOREIGN KEY([ID_DON_VI_TH])
REFERENCES [dbo].[tbDONVI] ([MA_DON_VI])
GO
ALTER TABLE [dbo].[tbHSBUOC] CHECK CONSTRAINT [FK_tbHSBUOC_tbDONVI]
GO
ALTER TABLE [dbo].[tbHSBUOC]  WITH CHECK ADD  CONSTRAINT [FK_tbHSBUOC_tbHOSO] FOREIGN KEY([ID_HO_SO])
REFERENCES [dbo].[tbHOSO] ([ID_HO_SO])
GO
ALTER TABLE [dbo].[tbHSBUOC] CHECK CONSTRAINT [FK_tbHSBUOC_tbHOSO]
GO
ALTER TABLE [dbo].[tbQUYTRINHTHUTUC]  WITH CHECK ADD  CONSTRAINT [FK_tbQUYTRINHTHUTUC_tbTHUTUC] FOREIGN KEY([ID_THU_TUC])
REFERENCES [dbo].[tbTHUTUC] ([MA_THU_TUC])
GO
ALTER TABLE [dbo].[tbQUYTRINHTHUTUC] CHECK CONSTRAINT [FK_tbQUYTRINHTHUTUC_tbTHUTUC]
GO
ALTER TABLE [dbo].[tbTHUTUC]  WITH CHECK ADD  CONSTRAINT [FK_tbTHUTUC_tbLINHVUC] FOREIGN KEY([MA_LINH_VUC])
REFERENCES [dbo].[tbLINHVUC] ([ID_LINH_VUC])
GO
ALTER TABLE [dbo].[tbTHUTUC] CHECK CONSTRAINT [FK_tbTHUTUC_tbLINHVUC]
GO
